section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 500px;
    background-color: darkblue;
    /* border: 1px solid black; */
}

div {
    /* border: 1px solid black; */
    height: 7.692%;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.short {
    width: 60%;
}

.long {
    width: 100%;
}